*{
    /* margin: 0; */
}

/* shared styles */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.color-1{
    color: #151414;
}

.color-2{
    color: #444343;
}

.color-3{
    color: #737272;
}



/* banner related styles */
#banner{
    background-image: url("../images/banner/banner2.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: right;
    padding: 200px 0;
}

.banner-content{
    /* display: flex; */
    max-width: 525px;
    margin-right: 150px;
    text-align: right;
}

.banner-content h2{
    font-size: 55px;
    margin-bottom: 24px;
}

.banner-content p{
    font-size: 16px;
    margin-bottom: 32px;
    line-height: 26px;
}

.banner-content button{
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    background-color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    color: white;
}