*{
    /* margin: 0; */
}

/* shared styles */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.color-1{
    color: #151414;
}

.color-2{
    color: #444343;
}

.color-3{
    color: #737272;
}

.btn{
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 32px;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: thistle;
}

/* banner related styles */
#banner{
    background-image: url("../images/banner/banner2.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: right;
    padding: 200px 0;
}

.banner-content{
    /* display: flex; */
    max-width: 525px;
    margin-right: 150px;
    text-align: right;
}

.banner-content h2{
    font-size: 55px;
    margin-bottom: 24px;
}

.banner-content p{
    font-size: 16px;
    margin-bottom: 32px;
    line-height: 26px;
}

.banner-content button{
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    background-color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.banner-content button:hover{
    background-color: brown;
}

/* failure section styles */
#failures{
    margin: 100px 0;
}


.failure-container{
    /* margin-top: 100px; */
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 80px;
    align-items: center;
}

.failures-img{
    max-width: 550px;
    
}

.failures-content{
        max-width: 416px;
        max-height: 400px;
}

.failures-content h2{
    font-size: 40px;
    margin-bottom: 24px;
}

.failures-content p{
    font-size: 16px;
    line-height: 26px;
}   
.p1{
    margin-bottom: 16px;
}
.p2{
    margin-bottom: 8px;
}

.fa-solid{
    color: #16D887;
}


/* plans section styles */

.plans-container{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.plans-container h2{
    font-size: 40px;
    margin-bottom: 50px;
}

.plan-card-container{
    display: flex;
    justify-content: space-between;
    
}

/* .plan-card img{
    margin-bottom: 20px;
} */

.plan-card h4{
    font-size: 30px;
    margin-bottom: 16px;
}

.plan-card p{
    font-size: 25px;
    font-weight: 500;
}

/* mindset section styles */

#mindset{
    max-width: 1140px;
    margin: 100px auto;
    background-image: linear-gradient(
  to right,
  rgba(241, 91, 34, 0.85) 0%,
  rgba(241, 91, 34, 0.4) 50%,
  transparent 100%
), url(../images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    border-radius: 8px;
}

#mindset h2{
    max-width: 460px;
    font-size: 40px;
    margin-bottom: 24px;
    color: white;
}

/* footer related styles */
footer{
    color: white;
    background-color: #151414;
}

#footer-container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.feature-container{
    max-width: 485px;

}

.feature-container h2{
    font-size: 45px;
}
.feature-container p{
    font-size: 18px;
    line-height: 26px;
}

.feature-container a{
    margin-right: 17px;
}


.others{
    max-width: 325px;
}

.others h2{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}

.others input{
    color: #F3F3F3;
    font-size: 18px;
    padding: 22px;
    background: none;
    border: 0.3px solid white;
    border-radius: 8px;
    margin-bottom: 16px;
}